.headerating{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

.scores{
    animation: anvil 0.11s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
    -webkit-animation: anvil 0.11s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
    -moz-animation: anvil 0.11s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
    -o-animation: anvil 0.11s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
    -ms-animation: anvil 0.11s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}

.ratingdiv{
    display:flex;
    align-items: center;
    justify-content: center;
    /* animation-delay: 20s; */
    
}
.headerating h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin:0;
    background-color: #1e212d;
    
}
.headerating p{
    margin:0;
    font-size: 15px;
    background-color: #1e212d;
}
.score{
    margin-top: 20px;
    height: 35px;
    background-color: #181a24;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 20px;
    border-radius: 10px;
    transition: 0.2s ease-in;
}
.scoreText{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* font-size:25px */
}
.scoreText h1{
    display:flex;
    margin-bottom: 0;
    margin-top: 0;
    letter-spacing: 1px;
}

.theBlockNum{
    /* margin-left:10px; */
    font-size:35px; 
    /* height: 60px; */
    background-color:white; 
    color:black; 
    border-radius:40px;
    margin-bottom:2px;
}
.ratePerformance{
    font-size:18px;  
    margin-bottom:10px;
    display:flex; 
    justify-content:center;
}
.score:hover{
    /* border-color: rgb(255, 255, 255); */
    cursor: pointer;
    height: 45px;
    
}
.scoreText p{
    margin: 0;
}

.how-to-rate p{
    margin:0;
}

#score10:hover{
    background-color: green;
}
#score9:hover{
    background-color: rgb(0, 228, 4);
}
#score8:hover{
    background-color: rgb(184, 255, 18);
}
#score7:hover{
    background-color: yellow;
}
#score6:hover{
    background-color: rgb(255, 191, 0);
}
#score5:hover{
    background-color: rgb(255, 136, 0);
}
#score4:hover{
    background-color: orangered;
}
#score3:hover{
    background-color: rgb(255, 34, 0);
}
#score2:hover{
    background-color: rgb(205, 0, 0);
}
#score1:hover{
    background-color: rgb(170, 0, 0);
}