.theRatingMethodDiv{
    /* animation: fadeInAnimation 0.31s;
  -webkit-animation: fadeInAnimation 0.31s;
  -moz-animation: fadeInAnimation 0.31s;
  -o-animation: fadeInAnimation 0.31s;
  -ms-animation: fadeInAnimation 0.31s; */
}
.theRatingMethod{
    -webkit-box-shadow: -2px 10px 19px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 10px 19px 0px rgba(0,0,0,0.75);
    box-shadow: -2px 10px 19px 0px rgba(0,0,0,0.75);
    border-radius: 8px;
}
