.timer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
    animation: anvil 0.4s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
    -webkit-animation: anvil 0.4s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
    -moz-animation: anvil 0.4s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
    -o-animation: anvil 0.4s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
    -ms-animation: anvil 0.4s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;

    font-family: 'Kalam', cursive;
    /* font-family: 'Source Code Pro', monospace; */
    /* font-family: 'Roboto', sans-serif; */
    /* height:900px; */
  }
  .blockdiv{
    background-color: rgb(0, 0, 0);
    margin-top: 10px;
    font-size: 20px;
  }
  .time{
    display: inline-flex;
    font-size: 230px;
    margin: 0;
    font-family: 'Source Code Pro', monospace;
    /* margin-bottom: 30px; 
    margin-top:30px; */
   /* ********* */
  }
  
 .timer p{
    margin:0px;
  }
  .timerbuttons{
    margin-bottom: 20px;
    margin-top: 30px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    
  }
  .timer button:hover{
    border-color: rgba(255, 255, 255, 0.651);
  }
 .semicolon{
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
 }

.play{
  width:150px;
  margin-right: 50px;
  margin-left: 30px;
  border-radius: 15px;
  box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
}
.pause{
  width:150px;
  margin-right: 50px;
  border-radius: 15px;
  box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
}

.skip{
  width:150px;
  border-radius: 15px;
  box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
}

.cancel{
  font-family: 'Kalam', cursive;
}


/* animation */

 @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }

  



