.timer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
    /* animation: anvil 0.4s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
    -webkit-animation: anvil 0.4s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
    -moz-animation: anvil 0.4s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
    -o-animation: anvil 0.4s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
    -ms-animation: anvil 0.4s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards; */
    font-family: 'Kalam', cursive;
  }
  .blockdiv{
    background-color: rgb(0, 0, 0);
    margin-top: 10px;
    font-size: 20px;
  }
  .time{
    display: inline-flex;
    font-size: 112px;
    /* font-size: 152px; */
    margin: 0;
    margin-top:10px;
    font-family: 'Source Code Pro', monospace;
    border-radius: 20px;
    background-color: #1e212da2;
  }
  
 .timer p{
    margin:0px;
  }
  .showUserData{
    animation: anvil 0.2s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
    -webkit-animation: anvil 0.2s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
    -moz-animation: anvil 0.2s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
    -o-animation: anvil 0.2s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
    -ms-animation: anvil 0.2s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
  }
  .timerbuttons{
    margin-bottom: 20px;
    margin-top: 30px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    
  }
  .new-font{
    font-size: 132px;
  }

  .timer button:hover{
    border-color: rgba(255, 255, 255, 0.651);
  }
 .semicolon{
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
 }

.play{
  font-family: 'Kalam', cursive;
  /* font-style: italic; */
  background-color: #1e212da2;
  border-color: white;
  width:200px;
  font-size: 30px;
  margin-right: 20px;
  margin-left: 30px;
  border-radius: 15px;
  box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
}
.pause{
  font-family: 'Kalam', cursive;
  /* font-style: italic; */
  background-color: #1e212da2;
  border-color: white;
  width:200px;
  font-size: 30px;
  margin-right: 20px;
  margin-left: 30px;
  border-radius: 15px;
  box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
}

.skip{
  font-family: 'Kalam', cursive;
  background-color: #1e212da2;
  border-color: white;
  border-width: 1px;
  margin-right: 0;
  align-items: center;
  justify-content: center;
  width:55px;
  /* height: 55px; */
  /* font-size: 30px; */
  border-radius: 12px;
  box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
}

.cancel{
  font-family: 'Kalam', cursive;
  background-color: #1e212ddf;
  /* box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75); */
}

.thetasklist{
  font-family: 'Kalam', cursive;
  box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
  background-color: #0d0e12df;
}
.thetasklist:hover{
  background-color: #22252f84;
}

@media only screen and (max-width:1400px) {
  .new-font{
    font-size: 100px;
  }
  .time{
    font-size:80px;
  }
  .play{
    font-size: 20px;
  }
  .pause{
    font-size: 20px;
  }
  .skip{
    width:42.5px;
  }
}

@media only screen and (max-width:1800px) {
  .new-font{
    font-size: 100px;
  }
}



@media only screen and (max-width:1000px) 
                   and (max-height: 900px) {
  .new-font{
    font-size: 70px;
  }
  /* .blockdiv{
    font-size: 15px;
  } */
}
@media only screen and (max-width:1000px) 
                   and (max-height: 800px) {

  /* .new-font{
    font-size: 10px;
  } */
  .blockdiv{
    font-size: 13px;
  }
  .time{
    font-size:80px;
  }
  .play{
    font-size: 20px;
  }
  .pause{
    font-size: 20px;
  }
  .skip{
    width:42.5px;
  }

}




/* animation */

 @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }

  



