.Chart-close-button{
    cursor: pointer;
    position: absolute;
    display: block;
    line-height: 20px;
    right: -14px;
    top: 8px;
    border-radius: 30%;
    background-color: #1e212d;;
    width: 21px;
    padding: 0;
  }
  .close:hover{
    background-color: #1e212dca;;
  }
