.sidebar{
    display:flex;
    justify-content: center;
    align-items: center;
    height:48px;
    width:450px;
    background-color: #1e212dec;
    margin:0;
    position: fixed;
    bottom: 20px;
    -webkit-box-shadow: -2px 10px 19px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 10px 19px 0px rgba(0,0,0,0.75);
    box-shadow: -2px 10px 19px 0px rgba(0,0,0,0.75);
    -webkit-animation: slide-right 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-right 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    border-radius: 10px;
}
.sidebarcontent{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 2000px;
    height:50px;

}


.text:hover{
    background-color: rgb(18, 18, 18);
    cursor:pointer;
}

.bars1{
    display: flex;
    justify-content: center;
    align-items: center;
    width:4vmin;
    height:45.3px;
    position:fixed;
    top:0;
    left:0;
    border-top-left-radius: 10px ;
    border-bottom-left-radius: 10px ;
    background-color: rgb(30, 33, 45, 0.5);
    color: white;
    cursor:pointer;
}
.bars1:hover{
    background-color: #404762ab;
    box-shadow: 6px 5px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 6px 5px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 6px 5px 5px 0px rgba(0,0,0,0.75);
}
.bars2{
    display: flex;
    justify-content: center;
    align-items: center;
    width:4vmin;
    height: 45.3px;
    border-top-left-radius: 10px ;
    border-bottom-left-radius: 10px ;
    position:fixed;
    bottom: 20px;
    left: 550px;
    background-color:#16181fea;
    
    color: white;
    border-color: transparent;
    cursor:pointer;
    box-shadow: 6px 5px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 6px 5px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 6px 5px 5px 0px rgba(0,0,0,0.75);
}

.bars2:hover{
    background-color: rgba(64, 70, 95, 0.5);
    box-shadow: 6px 5px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 6px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 5px 5px 0px rgba(0,0,0,0.75);
}

.progress-text{
    margin-bottom: 0;
    margin-bottom:0;
    padding:0;
    margin-top: 10px;
    font-size: 12px;
}
.h1-text{
    font-size: 25px;
}
.google-button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color:white;
    color:black;
    border-radius: 4px;
    margin-left: 8px;
    font-size:17px;
    border-radius: 4px;
    margin-top:19px;
    margin-top: 15px;
    width:40px;
    margin-right:0;
    height:30px;
    margin-bottom: 15px;
    margin-left: 10px;
}
.google-button:hover{
    background-color: white;
    cursor:pointer;
}
.google-label{
    cursor:pointer;
    font-family: 'Kalam',sans-serif,'Roboto','Source Code Pro','Indie Flower', sans-serif, Impact, Haettenschweiler, 'Arial Narrow Bold', cursive;
    font-weight: 600;
    display:none
}
.google-icon{
    margin-right:15px;
    margin-right: 0;
    font-size: 23px;;
}

.text{
    width:80px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19.55px;
    transition: 0.09s ease-in;
    padding-bottom: 7px;   
}
  /*------------------------------------------------------------------------*/


@media only screen and (max-width:1400px) {
    .sidebarbutton{
        display: none;
        
    }
    .sidebar{
        bottom: 0;
    }
}


@media only screen and (max-width:380px){
    .text{
        width:70px;
    }
}

@media only screen and (max-width:300px){
    .text{
        width:55px;
    }
    .text svg{
        margin-left:0;
    }
    .google-button{
        margin-right: 15px;
    }
}


@-webkit-keyframes slide-right {
    0% {
        -webkit-transform: translateX(-100px);
                transform: translateX(-100px);
    }
    100% {
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
    }
    }
    @keyframes slide-right {
    0% {
        -webkit-transform: translateX(-100px);
                transform: translateX(-100px);
    }
    100% {
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
    }
}