.sidebar{
    width: 325px;
    height: 100%;
    background-color: #1e212dab;
    margin:0;
    position: fixed;
    left:0;
    top: 0;
    backdrop-filter: blur(0px);
     box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-animation: slide-right 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-right 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    border-color: 'transparent';
}
.sidebarcontent{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 325px;
}

.text{
    width:280px;
    border-radius: 15px;
    font-size: 19.55px;
    margin-top:32px;
    margin-bottom: 8px;
    
}
.text svg{
    margin-left: 12px;
}

.text:hover{
    text-decoration: underline;
    background-color: rgb(18, 18, 18);
    cursor:pointer;
}

.bars1{
    width:50px;
    position:fixed;
    top:0;
    left:0;
    background-color: rgb(30, 33, 45, 0.5);
    color: white;
    border-color: transparent;
    cursor:pointer;
    box-shadow: 6px 5px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 6px 5px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 6px 5px 5px 0px rgba(0,0,0,0.75);
}
.bars1:hover{
    background-color: #404762ab;
}

.sidebar h1{
    margin-bottom: 0;
    /* margin-right: 10px; */
    font-size: 45px;
    font-family: 'Kalam', cursive;
}
.progress-text{
    margin-bottom: 0;
    font-size: 26px;
    font-family: 'Kalam', cursive;
    margin-top:155px;
    margin-bottom:0;
    padding:0;
}

.breakpoint{
    margin-bottom: 20px;
}

.sidebar label{
    cursor:pointer;
}
.google-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width:230px;
    height: 50px;
    background-color:white;
    color:black;
    font-family:cursive; 
    font-size:17px;
    border-radius: 4px;
    margin-top:19px;
}
.google-button:hover{
    background-color: white;
    cursor:pointer;
    border-color: rgb(85, 139, 255);
}
.google-label{
    cursor:pointer;
}
.google-icon{
    margin-right:15px;
    font-size: 23px;;
}

  /*------------------------------------------------------------------------*/

@media only screen and (max-width:1700px) {
    .text{
        margin-top:22px;
    }
}
@media only screen and (max-width:1600px) {
    .progress-text{
        margin-top:127.5px;
    }
    .sidebar{
        width: 285px;
        height: 100%;
        background-color: #1e212dab;
        margin:0;
        position: fixed;
        left:0;
        top: 0;
    }

    .sidebarcontent{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 300px;
    }

    .text{
        width:265px;
        border-radius: 15px;
        font-size: 19.55px;
        
    }
    .theLabel{
        font-size: 18px;
    }
    .sidebar h1{
        font-size: 38px;
    }
    .sidebar h2{
        font-size: 25px;
    }

}

@media only screen and (max-width:1400px) {
    .sidebar h1{
        font-size: 25px;
        /* display:none; */
        margin-right:20px
    }
    .progress-text{
        margin-top: 0px;
        margin-right:20px;
    }
    .sidebar h2{
        font-size:18px;
    }

    .breakpoint{
        display:none;
    }
    .sidebarbutton{
        display: none;
    }
    .theLabel{
        display: none;
    }
    .text{
        width:100px;
    }

    .sidebar{
        display:flex;
        justify-content: center;
        align-items: center;
        height:70px;
        width:100%;
        background-color: #1e212dab;
        margin:0;
        position: fixed;
        top: 0;
        
    }
    .sidebarcontent{
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 805px;
        height:50px;
    }
    .text{
        width:80px;
        border-radius: 8px;
    }
    .the-title{
        top:0;
        left:0;
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .google-button{
        margin-top: 15px;
        width:50px;
        margin-right:0;
        height:40px;
        margin-bottom: 10px;
        margin-left: 10px;
        
    }
    .google-label{
        display:none;
    }
    .google-icon{
        margin-right:0px;
    }
}
  
@media only screen and (max-height:680px){
    .sidebar h1{
        font-size: 25px;
    /* display:none; */
    margin-right:20px

    }
    .progress-text{
        margin-top: 0px;
        margin-right:20px;
    }
    .sidebar h2{
        font-size:18px;
    }

    .breakpoint{
        display:none;
    }
    .sidebarbutton{
        display: none;
    }
    .theLabel{
        display: none;
    }

    .sidebar{
        display:flex;
        justify-content: center;
        align-items: center;
        height:70px;
        width:100%;
        background-color: #1e212dab;
        margin:0;
        position: fixed;
        top: 0;

    }
    .sidebarcontent{
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 805px;
        height:50px;
    }
    .text{
        width:80px;
        border-radius: 8px;
    }
    .the-title{
        top:0;
        left:0;
        display:flex;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width:550px) {
    .sidebar h1{
        /* font-size: 25px; */
        display:none;
    }
    .progress-text{
        display: none;
    }

    .breakpoint{
        display:none;
    }
    .sidebarbutton{
        display: none;
    }

    .theLabel{
        display: none;
    }
    .text{
        width:100px;
    }

    .sidebar{
        display:flex;
        justify-content: center;
        align-items: center;
        height:70px;
        width:100%;
        background-color: #1e212dab;
        margin:0;
        position: fixed;
        top: 0;
        
    }
    .sidebarcontent{
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 805px;
        height:50px;
    }
    .text{
        width:80px;
    }
    .the-title{
        top:0;
        left:0;
        display:flex;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-height:380px){
    .text{
        width:30px;
    }
}

@-webkit-keyframes slide-right {
    0% {
        -webkit-transform: translateX(-100px);
                transform: translateX(-100px);
    }
    100% {
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
    }
    }
    @keyframes slide-right {
    0% {
        -webkit-transform: translateX(-100px);
                transform: translateX(-100px);
    }
    100% {
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
    }
}