.lorem p{
  font-size:19px;
  margin-left: 20px;
  margin-right: 20px;
}
.lorem h2{
  font-size: 22px;
}
.close{
  cursor: pointer;
  position: absolute;
  display: block;
  line-height: 20px;
  right: -14px;
  top: 8px;
  border-radius: 30%;
  background-color: rgb(157, 0, 0);
  width: 26px;
  padding: 0;
}
.lorem{
  width:650px;

  display:flex; 
  justify-content:center;
  align-items: center;
  flex-direction: column;
}

@media only screen and (max-width:600px) { 
  .lorem{
    width:450px;
  }
} 
@media only screen and (max-width:600px) and (max-height:800px) { 
  .lorem{
    width:450px;
    height:200px;
  }
}            