.lorem p{
  font-size:19px;
  margin-left: 20px;
  margin-right: 20px;
}
.lorem h2{
  font-size: 22px;
}
.close{
  cursor: pointer;
  position: absolute;
  display: block;
  line-height: 20px;
  right: -14px;
  top: 8px;
  border-radius: 30%;
  background-color: rgb(157, 0, 0);
  width: 21px;
  padding: 0;
}
.lorem{
  width:80vw;
  /* width:750px; */
  display:flex; 
  justify-content:center;
  align-items: center;
  flex-direction: column;
}
.lorem p{
  font-size: 1rem;
}
.lorem h2{
  font-size: 1rem;
}
