.divfinished{
  animation: fadeInAnimation 0.31s;
  -webkit-animation: fadeInAnimation 0.31s;
  -moz-animation: fadeInAnimation 0.31s;
  -o-animation: fadeInAnimation 0.31s;
  -ms-animation: fadeInAnimation 0.31s;
}

.finished{
    background-color: #1e212d;
    box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
    width:320px;
    height:320px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    border-radius: 30px;
    border-color: aquamarine;
    
}

.thumbsup{
    width:45px;
    margin-top: 18px;
}
.thescores{
  font-family: cursive;
  background-color: green;
  font-size: 20px;
  border-radius: 50%;
  height:115px;
  width:115px;
  margin-bottom:25px;
  justify-content:center;
  align-items: center;
  display:flex;
}
.thescores:hover{
  background-color: rgba(110, 110, 110, 0.44);
}
.startNewSession{
  font-family: 'Kalam', cursive;
  letter-spacing: 1px;
  border-radius: 5px;
  width: 250px;
  background-color: rgba(18, 18, 18, 0.472);
  margin-right: 0;
  border-color: rgb(189, 189, 189);
}
  