.theme-screen {
  display: flex;
  align-items: center;
  justify-content: center;
}

.theme-screen__inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.theme-modal-inner {
  position: relative;
  width: 100%;
}

.theme-modal-close {
  position: absolute;
  top: clamp(-8px, -1vmin, 0px);
  right: clamp(-8px, -1vmin, 0px);
  z-index: 1;
}

.theme-modal-close svg {
  width: 1.35rem;
  height: 1.35rem;
}

.theme-modal-inner .rating-help-btn.theme-modal-close {
  background-color: #1b1e29cd;
}

.theme-modal-inner .rating-help-btn.theme-modal-close:hover {
  background-color: rgba(43, 43, 47, 0.94);
}

.theme-select-btn:hover {
  background-color: rgba(43, 43, 47, 0.4);
}

.theme-selected {
  background-color: #000;
}

.theme-selected:hover {
  background-color: #000;
}
