input{
    width: 240px;
    height: 30px;
    margin-bottom: 30px;
    border-radius: 6px;
}
.loginbutton{
    background-color: rgb(41, 41, 55);
    margin-right: 10px;
    margin-left: 10px;
    width:110px;
    height:30px;
    font-family: 'Kalam', cursive;
    font-size: 15px;
    border-radius: 10px;
}
.loginbutton:hover{
    background: rgba(0, 0, 0, 0.147);
}