@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
  background-color: #1e212d;
  color:#fff;
  margin: 0;
  /* font-family: 'Nanum Pen Script', cursive; */
  /* font-family: 'Gloria Hallelujah', cursive; */
  /* font-family: 'Indie Flower', cursive; */
  /* font-family: 'Source Code Pro', monospace; */
  font-family: 'Kalam','Roboto','Source Code Pro','Indie Flower', sans-serif, Impact, 
  Haettenschweiler, 'Arial Narrow Bold', cursive;
}

.loader {
  position: fixed;
  /* left: 0px;
  top: 0px; */
  width: 100%;
  height: 100%;
  /* z-index: 9999; */
  background: url('https://lkp.dispendik.surabaya.go.id/assets/loading.gif') 50% 50% no-repeat rgb(249,249,249);
}

.App{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  /* animation: fadeInAnimation 1.5s;
  -webkit-animation: fadeInAnimation 1.5s;
  -moz-animation: fadeInAnimation 1.5s;
  -o-animation: fadeInAnimation 1.5s;
  -ms-animation: fadeInAnimation 1.5s; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin:0;
}

.theApp{
  display: flex;
  align-items: center;
  justify-content: center;
  /* height:950px; */
}

.text-div{
  display: flex;
  align-items: center;
  /* max-width: 900px; */
  font-size: 25px;
  animation: fadeInAnimation 0.61s;
  -webkit-animation: fadeInAnimation 0.61s;
  -moz-animation: fadeInAnimation 0.61s;
  -o-animation: fadeInAnimation 0.61s;
  -ms-animation: fadeInAnimation 0.61s;
  line-height: 50px;
}

/*Buttons*/
button{
  background-color: rgb(30, 33, 45, 0.5);
  color: white;
  border-color: transparent;
  width:100px;
  margin-right: 30px;
  cursor:pointer;
  transition: .08s ease-in;
}

.startSession-button{
  border-color: white;
  background-color:#1e212dd8; 
  /* background-color: black; */
  width:190px;
  font-size: 20px;
  font-family: 'Kalam', cursive;
  height:58px;
  border-radius: 10px;
  margin-right: 5px;
  border-width: 2px;
  animation: blinking 0.8s infinite;

}
.startSession-button:hover{
  animation: blinking2 0.8s infinite;

}
button:hover{
  box-shadow: -1px 2px 1px 3.5px rgba(148, 228, 255, 0.868);
-webkit-box-shadow: -1px 1px 3.5px 5px rgba(148, 228, 255, 0.868);
-moz-box-shadow: -1px 2px 1px 3.5px rgba(148, 228, 255, 0.868);

}


.content{
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.content-text{
  /* display:flex;
  justify-content:center;
  align-content:center; */
  background-color:#1e212d;
  border-radius:5px; 
  font-size:20px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
 /* Gives that scrolling effect as the typing happens */
/* Adjust as needed */
  animation: 
    typing 2.5s steps(40, end),
    blink-caret .75s step-end infinite;
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}
.theTimerContents{
  display: flex;
}

.divsession{
  display: flex;
  align-items: center;
  justify-content: center;
  /* transition: 5s ease-in-out; */
}
.questionMark{
  align-items: center;
  display: flex;
  justify-content: center;
  background-color:#1e212dd8; 
  animation: blinking 0.8s infinite;
  border-color: white;
  font-size: 50px;
  border-radius:30%; 
  margin-right: 20px;
  width:50px;
  height:47px;
  /* height:45px; */
  display: none;
  padding:0;
}
.questionMark svg{
  font-size:30px;
  margin-bottom: 10px;
  padding:0;
}
.questionMark:hover{
  animation: blinking2 0.8s infinite;
}

.questionMark2{
  align-items: center;
  /* justify-content: center; */
  /* display: flex; */
  /* width:48px;  */
  font-size: 23px;
  width: 50px;
  /* padding-left: 0; */
  border-radius:30%; 
  margin-right: 5px;
  /* margin-right: 0; */
  padding-left: 0;
  
}
.checkbutton:hover{
  background-color: transparent;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

.city{
  background-image: url("/public/Images/city.jpeg");
  transition: all .5s;
}
.nightTime{
  background-image: url("/public/Images/Nighttime.jpeg");
  transition: all .5s;
}
.spaceCabin{
  background-image: url("/public/Images/SpaceCabin.jpeg");
  transition: all .5s;
}
.snowyCabin{
  background-image: url("/public/Images/SnowyCabin.jpeg");
  transition: all .5s;
}
.mountain{
  background-image: url("/public/Images/Mountain.jpeg");
  transition: all .5s;
}
.houses{
  background-image: url("/public/Images/Houses.jpeg");
  transition: all .5s;
}
.rocket{
  background-image: url("/public/Images/rocket.jpeg");
  transition: all .5s;
}
.flowerShop{
  background-image: url("/public/Images/Flowershop.jpeg");
  transition: all .5s;
}
.off{
  background-image: url("");
  background-color: black;
  transition: all 2s;
}

@media only screen and (max-width:1600px) {
  .startSession-button{
    width:170px;
    font-size: 18px;
    height:48px;
  }
  .questionMark2{
    width:42px; 
  }

  .text-div{
    font-size: 25px;
    line-height: 40px;
  }
  .content-text{
    font-size: 15px;
  }
 
}

@media only screen and (max-width:1000px) {
  .theTimerContents{
    flex-direction: column;
  }
  .content-text{
    font-size: 13.5px;
  }
  .questionMark{
    display:block;
  }
  .questionMark2{
    display:none;
  }
}

@media only screen and (max-width:380px) {
  
  .content-text{
    font-size: 11px;
  }
}
@media only screen and (max-width:300px) {

  .content-text{
    font-size: 10px;
  }
  .startSession-button{
    /* height:30px */
    font-size: 15px;
    height: 38px;
  }
}

/*Animations*/

@keyframes blinking {
  0% {
    box-shadow: -1px 2px 5px 7px rgb(236, 250, 255);
    -webkit-box-shadow: -1px 2px 5px 7px rgb(236, 250, 255);
    -moz-box-shadow: -1px 2px 5px 7px rgb(236, 250, 255);

  
  }
  100% {
    box-shadow: -1px 2px 5px 3px rgba(127,218,247,0.75);
    -webkit-box-shadow: -1px 2px 3px 5px rgba(127,218,247,0.75);
    -moz-box-shadow: -1px 2px 5px 3px rgba(127,218,247,0.75);
 
  
  }
}

@keyframes blinking2 {
  0% {
    background-color:rgba(140, 140, 140, 0.62);

  
  }
  100% {
    background-color: rgba(73, 73, 73, 0.844);
   
  
  }
}


@keyframes fadeInAnimation {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeInAnimation {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeInAnimation {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeInAnimation {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeInAnimation {
  0% { opacity: 0; }
  100% { opacity: 1; }
}



@keyframes anvil {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  1% {
    transform: scale(0.96) translateY(10px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 0.09s ease-in;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}