/* .task{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} */

.task {
display: flex;
flex-direction: column;
justify-content: center;
/* box-sizing: border-box; */
/* margin: 0;
padding: 0; */
/* width: 520px; */
/* min-height: 600px; */
/* background: #161a2b; */
text-align: center;
/* margin: 128px auto; */
/* border-radius: 10px; */
/* padding-bottom: 32px; */
}

h1 {
margin: 32px 0;
/* color: #fff; */
font-size: 24px;
}

.complete {
text-decoration: line-through;
opacity: 0.4;
}

.task-form {
margin-top: 50px;
margin-bottom: 32px;
display: flex;
justify-content: center;
align-items: center;
/* height: 100px; */
}

.form-div{
display: flex;
justify-content: center;
align-items: center;
}

.task-input {
padding: 10px 25px 10px 10px;
/* border-radius: 4px 0 0 4px; */
border-color: transparent;
outline: none;
width: 400px;
background: rgb(255, 255, 255);
/* color: #fff; */
margin-left: 15px;
margin-bottom: 0;
}

.task-input::placeholder {
color: #5d5d5d;
font-family: 'Kalam', cursive;
font-size: 16px;
}

.task-button {
/* align-items: center;
justify-content: center; */
/* padding: 16px; */
border-color: rgba(255, 255, 255, 0.522);
padding-bottom:40px;
padding-top:20px;
margin-left: 10px;
margin-right: 0;
/* border: none; */
border-radius: 10px;
cursor: pointer;
padding-top: 10px;
/* outline: none; */
width: 60px;
height: 50px;
/* background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
);
color: #fff;
text-transform: capitalize; */
}

.task-button:hover{
    background-color: #2a303c;
    box-shadow: 0px 0px 0px 0px rgba(249, 249, 249, 0.026);
  -webkit-box-shadow: 0px 0px 0px 0px rgba(231, 242, 245, 0);
  -moz-box-shadow: 0px 0px 0px 0px rgba(238, 246, 249, 0);
}

.task-input.edit {
border: 2px solid #149fff;
}


.task-container {
display: flex;
flex-direction: row;
position: relative;
}

.task-row {
display: flex;
justify-content: space-between;
align-items: center;
margin-right: 0;
margin-bottom: 5px;
padding: 16px;
font-size: 18px;
/* font-weight: 500; */
border-radius: 5px;
width: 70%;
cursor: pointer;
/* margin-left: 11px; */
}

.task-row:nth-child(n) {
    background-color: #2d333e;
}
.task-row:nth-child(4n + 1) {
    background-color: #2a303c;
}

.task-row:nth-child(4n + 2) {
    background-color: #393e49;
}

.task-row:nth-child(4n + 3) {
    background-color: #212630;
}

.icons {
display: flex;
align-items: center;
/* font-size: 24px; */
cursor: pointer;
}

.delete-icon {
font-size: 22.5px;
/* color: rgb(255, 223, 223);
 */
 color:#fff;
}

.edit-icon {
    margin-right: 5px;
    font-size: 25px;
/* color: rgb(227, 239, 255); */
color:#fff;
}